
.hero-image{ 
    clip-path: ellipse(81% 100% at 18% 0%);
    background-image: url(https://picsum.photos/500);
    height: 100vh; 
}











.linkedin {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  
  .linkedin svg {
    vertical-align: middle;
  }
  
  
 
