
.hero-image{ 
    clip-path: ellipse(81% 100% at 18% 0%);
    background-color: blue;
    background-image: url(../css/images/Group\ 15.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 10% 80%;
    height: 100vh; 
}

.signupimg {
  background-image: url(../css/images/Group\ 10.png);
  background-size: cover;
  position: relative;
  background-position: center;
  height: 90vh;
}

.facebook {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid grey;
  }
  
  .facebook svg {
    vertical-align: middle;
  }
  
.twitter {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid grey;
  }
  
  .twitter svg {
    vertical-align: middle;
  }
  
.google {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid grey;
  }
  
  .google svg {
    vertical-align: middle;
  }

.linkedin {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid grey;
}
  
.linkedin svg {
    vertical-align: middle;
}
  
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
  
.input-group-prepend {
  background-color: white;
  border: none;
}

.clip {
  padding-left: 0px;
}
 
.signup {
  text-decoration: none;
}
